/*Desktop first-be írtuk meg, Bootstrap xlarge; 1200-tól felfelé tart*/

html{
	scroll-behavior: smooth;
}
body {
	font-family: 'Roboto Condensed', sans-serif;
	background-color: #e5d7d6;
	color: #131514;
	animation: bodyFadeIn 0.3s;
}

@keyframes bodyFadeIn{
	from{
		opacity: 0;
	}
	to{
		opacity: 100%;
	}
}

/*Bootstrap navbar egyedi háttérszín*/

nav{
	background-color: #131514d9; /*Áttetsző háttérszín 80%-os hexa színkóddaé*/
}
/*Boostrap navlinkek számára egyedi szín és hover, illetve transition*/
/*A beállítások sorrendjénél erősebb a DOM-os, így ha át akarjuk állítani a fent említett elemet, akkor a lehető legDOMosabban kell szelektálnunk*/
.navbar-dark .navbar-collapse .navbar-nav .nav-item .nav-link, .navbar-dark .navbar-brand {
	color: #e5d7d6;
	transition: color 0.15s ease 0s;
	letter-spacing: 0.5px;
	font-weight: bold;
}

.navbar-dark .navbar-collapse .navbar-nav .nav-item .nav-link:hover, .navbar-dark .navbar-brand:hover{
	color: #a89f9e
}

h3{
	letter-spacing: 6px;
	font-weight: bold;
}

/*Üdvözlő szekciót látjuk*/
#welcomebox {
	height: 100vh;
	background-color: #131514; /*tartalék egyszínű háttér*/
	background-image: url("img/bg.jpg");
	background-size: cover;
	background-position: 50% 40%;
	color: #e5d7d6;
}

#welcomebox h1{
	font-size: 50px;
	padding-top: calc( (100vh - 104px) / 2 - 20px ); /*A teljes magasságból kivontuk az üdvözlő részen lévő h1 és h2 magasságát és a h1 alsó margóját (60px+36px+8px)
	így megkaptuk a fennmaradó helyet, melyet 2-vel elosztva megkaptuk a címsor fölé szükséges távolságot, majd kivontunk 20px-t hogy a középhez képest feljebb toljuk*/
	padding-left: 50px;
	letter-spacing: 10px;
}
#welcomebox h2{
	font-size: 30px;
	padding-left: 80px;
	letter-spacing: 4px;
}
#about p{
	letter-spacing: 1px;
	line-height: 26px;
	text-align: justify;
}
#footer p{
	background-color: #131514;
	color: #e5d7d6;
}
/*Reszponzivitás*/
/*Külön media query az üdvözlő kávés kép szövegéhez*/
@media (max-width: 1380px) {
	
	#welcomebox h1{
		padding-left: 24px;
		letter-spacing: 4px;
	}
	
	#welcomebox h2{
		padding-left: 46px;
		letter-spacing: 1.5px;
	}
}

/* Large screen 992-1199px*/
@media (max-width: 1199px) {
	
	#welcomebox h1{
		font-size: 36px;
		padding-left: 20px;
		padding-top: calc( (100vh - 76px) / 2 - 20px ); 
	}
	
	#welcomebox h2{
		font-size: 22px;
		letter-spacing: 1px;
		padding-left: 40px;
	}
	
}


/*Medium screen 768-991px*/
@media (max-width: 991px) {
	#welcomebox h1{
		padding-top: 70px; 
	}
}



/*Small screen 576-767px*/
@media (max-width: 767px) {
	#about p{
		text-align: left;
		font-size: 18px;
		letter-spacing: 1.5px;
		line-height: 30px;
		word-spacing: 4px;
	}
	.extra{
		display: none;
	}
	
	#blog div p {
		font-size: 18px;
	}
	
}


/*Extra small screen 0-575*/
@media (max-width: 575px) {
	#welcomebox{
		display: none;
	}
	#about p{
		font-size: 20px;
	}
	#blog div p {
		font-size: 22px;
	}
}



